@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}*/

/*
font-family:"Poppins", sans-serif;
*/

.navbar{
    list-style: none;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.flex-container .navbar{
    display: flex;
    gap: 100px; 
}

.navbar li a{
    text-decoration: none;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    
}

nav ul li{
    display: inline;
}

h1{
    font-family:"Poppins", sans-serif;
    font-weight: bold;
    color:rgb(18, 67, 97);
    font-size: 2 rem;
    margin-left: 30px;
}

h2{
    font-family:"Poppins", sans-serif;
    font-weight: bold;
    color:rgb(18, 67, 97);
    font-size: 2 rem;
    margin-left: 30px;
}

.section-principal{
    background-color: rgb(230, 246, 252);
    width: 100%;
    height: 100%;
}

header{
    background-color: rgb(18, 67, 97);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

h4{
    font-family:"Poppins", sans-serif;
    font-weight: medium;
    color: white;
    font-size: 0.5 rem;
}

h5{
    font-family:"Poppins", sans-serif;
    font-weight: normal;
    color: white;
}

.principal{
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url(../assets/img/portada2.jpg);
}

.principal p{
    width: 25rem;
    margin: 60px;
}

.contenerdor-cards{
    display: flex;
    width: 100%;
    height: 37.5rem;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card{
    width: 20rem;
    height: 25rem;
    background-color: rgba(230, 246, 252);
    border-radius: .3125rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(176, 176, 176);
}

.card .card-img{
    width: 75%;
    height: 75%;
}

.card .card-img img{
    width: 85%;
    height: 85%;
    object-fit: contain;
}

.nosotros{
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: repeat(12,50px);
    align-items: center;
    justify-items: center;
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px;
}

.nosotros .mision{
    grid-column: 2/3;
    grid-row: 2/3;
    order:1;
    justify-self: right;
}

.nosotros .mision-1{
    grid-column: 4/6;
    grid-row: 2/3;
    order:2;
}

.nosotros .vision{
    grid-column: 2/3;
    grid-row: 5/6;
    order:3;
    justify-self: right;
}

.nosotros .vision-1{
    grid-column: 4/6;
    grid-row: 4/7;
    order:2;
}

.nosotros .valores{
    grid-column: 2/3;
    grid-row: 8/9;
    order:3;
    justify-self: right;
}

.nosotros .valores-1{
    grid-column: 4/6;
    grid-row: 7/10;
    order:2;
}

.nosotros .objetivos{
    grid-column: 2/3;
    grid-row: 11/12;
    order:4;
    justify-self: right;
}

.nosotros .objetivos-1{
    grid-column: 4/6;
    grid-row: 10/13;
    order:2;
}

.mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacfooter{
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,50px);
    background-color: rgb(18, 67, 97);
    align-items: center;
    justify-items: center;
    row-gap: 10px;
    column-gap: 10px;
}

.contacfooter .logo{
    grid-column: 1/2;
    grid-row: 2/3;
    order:1;
    padding-left: 1.25rem;
    width: 100px;
    height: 100px;
}

.contacfooter h5{
    grid-column: 1/2;
    grid-row: 3/4;
    order:2;
    padding-left: 1.25rem;
    text-align: center;
}

.contacfooter h4{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    order:3;
    padding-left: 1.25rem;
    text-align: center;
}

.contacfooter .info-1{
    grid-column: 3/4;
    grid-row: 3/4;
    order:4;
    width: 24px;
    height: 24px; 
}

.contacfooter .info-2{
    grid-column: 4/5;
    grid-row: 3/4;
    justify-self: left;
    order:5;
    width: 16px;
    height: 24px; 
}

.contacfooter .info-3{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: right;
    order:6;
    width: 24px;
    height: 24px; 
}